<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    
</head>
<body style="background-color: #F0F1F9;">
    
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-3 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-center">
                <div class="flex space-x-3">
                  <a href="/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Empleados</a>
      
                  <a href="/sueldo" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Sueldo</a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </nav>

      

    <div class="flex items-start justify-center h-screen w-full">
			<div class="block p-6 mt-8 rounded-lg shadow-lg bg-white w-4/5">
				<div class=" flex w-4/5 text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700 mx-auto justify-center">
					<ul class="flex ">
						<li class="mr-2">
							<a href="/" class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Nuevo</a>
						</li>
						<li class="mr-2">
							<a href="/buscar" class="inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500" >Buscar</a>
						</li>
					</ul>
				</div>
            
                <div class="flex mt-5">
                    <h4 class="font-medium leading-tight text-2xl  text-blue-600 mx-auto">Empleados</h4>
                  </div>

<div class="overflow-x-auto relative shadow-md sm:rounded-lg ">
    <table  class="table-auto border-collapse mt-5 w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 ">
            <tr class="text-center" >
                
                <th  class=" w-1/12 py-3 px-3">
                    Numero
                </th>
                <th  class="w-4/12 py-3 px-3">
                    Nombre
                </th>
                <th  class="w-2/12 py-3 px-3">
                    Rol
                </th>
                <th  class="w-2/12 py-3 px-3">
                    Tipo
                </th>
                <th class="w-2/12 py-3 px-3">
                    Movimientos
                </th>
                <th class="w-1/12"></th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach((empleado)=> { %>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700 text-center items-center">
                
                
                <th scope="row" class="py-4 px-3 font-medium text-gray-900 ">
                    <%= empleado.id %>
                </th>
                <td class="py-4 px-3">
                    <%= empleado.nombre %>
                </td>
                <td class="py-4 px-3">
                    <%= empleado.rol %>
                </td>
                <td class="py-4 px-3">
                    <%= empleado.tipo %>
                </td>
                <td> <a href="/captura/<%= empleado.id %>"><box-icon color="#B4BDBC" type='solid' name='plus-circle'></box-icon></a></td>
                <td class=" flex py-4 px-3">
                    
                    <a href="/edit/<%= empleado.id %>"><box-icon name="edit" color="#0284c7"></box-icon></a>
                    
                    <a href="/borrar/<%= empleado.id %>" class="ml-2"><box-icon name="minus-circle" color="#dc2626"></box-icon></a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

          </div>
      </div>
      <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</body>

</html>